{% extends "base.html" %}
{% block head_ %}
    <meta charset="utf-8">
    <title>ECharts</title>
    <!-- 引入 echarts.js 这里使用flask的url_for-->
    <script src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.js"></script>
{% endblock %}
{% block content %}
    <div id="main" style="width: 600px;height:400px;"></div>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));

        // 指定图表的配置项和数据
        var option = {
                xAxis: {},
                yAxis: {},
                series: [{
                symbolSize: 20,
                data:  []
                name:"数据名称",
                type: 'scatter'
                }]
             };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
        var data_leach = []
        $.ajax({
         type : "post",
         async : true,
         url : "/",
         data : {},
         dataType : "json",
         success : function(result) {

             if (result) {
                    for(var i=0;i<result.length;i++){
                       data_leach.push(result[i].);
                     }
                    for(var i=0;i<result.length;i++){
                        nums.push(result[i].name1);
                      }
                    myChart.hideLoading();
                    myChart.setOption({
                        xAxis: {
                            data: names
                        },
                        series: [{

                            name: '投料量',
                            data: nums
                        }]
                    });

             }

        },
         error : function(errorMsg) {

         alert("图表请求数据失败!");
         myChart.hideLoading();
         }
    })


    </script>
{% endblock %}